tls:
  certificates:
    - certFile: /certs/_wildcard.home.pem
      keyFile: /certs/_wildcard.home-key.pem
  stores:
    default:
      defaultCertificate:
        certFile: /certs/_wildcard.home.pem
        keyFile: /certs/_wildcard.home-key.pem
